*.iml
*.hprof
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
build-cache/
OldLanxin/
build-cache.lock

centralhub/
common/
imcore/
logger/
communicationservice/
lanxin-api/
lxmars/
uranus/
developerconsole/
push/
imbuz/
dialoglist/
address/
baseui/
qun/
s3/
map/
map_pgis/
bluecall/
oemconfig/
documentexplorer/
nativeapplet/
aboutme/
uranussdk/
workspace/
mainframe/
dialogbuz/
startuppage/
qrcode/
bluecard/
crop/
cryptcenter/
filemanager/
js-sdk/
lxInfostream/
multitype/
pickcontacts/
recyclerviewadapter/
baserecyclerviewadapterhelper/
search/
sector/
update/
baidumapsdk/
videocompress/
lanxinapi/
calleridentify
blueprint/
settingbuz/
login/
collection/
goa/
xylinkmeeting/
ttspeak/
xylinkbroadcast/
s3/
openbuz/
messagebuz/
infoflow/
editpic/
flowkit/
mtesssdk/
importaar/
cecvpn/
mail/
mediaviewer/
nfc/
nfc-idcard/
lxanr/
fastflutter/
lxkoalca/
ofdexplorer/
screenshot/
tjmdm/
update0/
appshop/
breakpad/
sonar-scanner.properties
gradle.properties
settings.gradle
.project
.classpath
.settings/
office/
.BuildConfig/
glide/
about_bjzx/
processsetting/
rslinkmeeting/
startpage/
ijkplayer/
addressbook/
caac-ca/
jssdk/
lipc/
lxsafekeyboard/
lxuisdkadapter/
uisdk/
script/
app/src/main/assets/fun.oem
app/src/main/assets/manifest.log
app/src/main/assets/plugins/static/com.lite.lanxin.*
env_var.log

calendar/
calendarview/
oemtools/
gjmm-encrypt/
info_stream_architecture/
chatcore/
gup/
thestraldcs/
zip4j/
i18n-xml/
update-android/
xcrash/
